.flex-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }
}

img {
    width: 800px;
}

body {
    background-color: grey;
}

.row,
.row>.column {
    padding: 8px;
}

.main {
    max-width: 1000px;
    margin: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}